#about
  %h1 Negoto
  %p Negoto is an imageboard engine written in Ruby.
  %h1 Syntax
  %p Negoto uses a minimalistic syntax similar to markdown.
  %h2 Code blocks
  %p
    Surround a code block in backquotes
    %br
    ```
    %br
    like this
    %br
    ```
    %br
    to encapsulate them in pre tags.
  %h2 Spoilers
  %p
    Surround some words with backslashes \\like this\\ to <span class="spoiler">spoiler</span> them.
  %h2 Quotes
  %p
    Begin a line with a greater-than sign
    %br
    \>like this
    %br
    to quote it.
