%form#form{ action: "/api/#{id}", method: "POST",
  enctype: "multipart/form-data" }
  - if page == 0
    %input#subject{ type: "text", placeholder: "Subject",
    name: "subject" }
  %input#name{ type: "text", placeholder: "Anonymous",
    value: "Anonymous", name: "name" }<
  %input#button{ type: "submit", value: "Post" }
  %textarea#body{ placeholder: "Comment", name: "body" }
  %label#file{ for: "filei" }< Add attachment
  %input#filei{ type: "file", name: "file",
    accept: "image/jpeg, image/png, image/gif, video/webm" }<
  - if page != 0
    %input#sagei{ type: "checkbox", name: "sage" }<
    %label#sage{ for: "sagei" }< Sage
  %input#spoileri{ type: "checkbox", name: "spoiler" }<
  %label#spoiler{ for: "spoileri" } Spoiler
  %input#page{ type: "hidden", name: "page", value: page }
