%form#post-form{ action: "/api/#{id}", method: "POST",
  enctype: "multipart/form-data" }
  - if page == 0
    %input.form.text#subject{ type: "text", placeholder: "Subject",
    name: "subject" }
    %br
  %input.form.text#name{ type: "text", placeholder: "Anonymous",
    value: "Anonymous", name: "name" }<
  %input.form.button#send{ type: "submit", value: "Post" }
  %br
  %textarea#body{ placeholder: "Comment", name: "body" }
  %br
  %a.form.button#close-form{ onclick: "destroy('floating-form')" }< ✕
  %label.form.button#file{ for: "filei" }< Add attachment
  %input#filei{ type: "file", name: "file",
    accept: "image/jpeg, image/png, image/gif, video/webm" }<
  - if page != 0
    %input#sagei{ type: "checkbox", name: "sage" }<
    %label.form.button#sage{ for: "sagei" }< Sage
  %input#spoileri{ type: "checkbox", name: "spoiler" }<
  %label.form.button#spoiler{ for: "spoileri" } Spoiler
  -# %input#page{ type: "hidden", name: "page", value: page }
