$text: #333
$darkest: #7E9CD9
$darker: #B7C5D9
$dark: #D6DAF0
$light: #EEF2FF
$lightest: #FFF

$quote: #789922
$backquote: #D00
$link: #34345C
$name: #117743

$sans-serif: -apple-system, "Segoe UI", "Roboto", "Helvetica Neue", "Open Sans", sans-serif
$monospace: monospace

$shadow: 3px 3px $darker

// Restoring sanity
html
  -ms-text-size-adjust: 100%
  -webkit-text-size-adjust: 100%
input[type="submit"]
  -webkit-appearance: none

*
  margin: 0
  padding: 0
  border: none

body
  font-family: $sans-serif
  margin: 5px
  color: $text

a
  text-decoration: none

hr
  clear: both
  visibility: hidden

// Actual changes
body
  background-color: $light

a
  color: $link

  &:hover
    color: $backquote

// Header
header
  text-align: center

  nav
    margin-bottom: 5px
    font-size: 0.8rem

  #banner
    border: 1px solid $darker

  #title
    margin: 15px
    font-size: 3rem

#form
  $form-width: 350px

  width: $form-width
  margin: 10px auto
  position: relative

  cursor: move
  user-select: none
  -webkit-user-select: none

  background-color: $dark
  box-shadow: $shadow

  *
    font-size: 0.8rem

  &, #subject, #name, #button, #body
    padding: 5px

  #subject
    width: $form-width

  $button-width: 40px

  #name
    width: $form-width - $button-width - 5

  #subject, #name
    &:hover, &:focus
      transition: 1s
      color: $text
      background-color: $lightest

  #button
    width: $button-width
    position: absolute
    right: 5px

    &:hover
      transition: 1s
      background-color: $text

  #subject, #name, #button
    margin-bottom: 5px
    transition: 1s

    color: $darker
    background-color: $light

  #body
    font-family: $sans-serif
    width: $form-width
    min-height: 100px
    background-color: $lightest

  #subject, #name, #body
    &::-webkit-input-placeholder
      color: $darker
    &::-moz-placeholder
      color: $darker
      opacity: 1
    &:-ms-input-placeholder
      color: $darker
    &:placeholder-shown
      color: $darker

// Catalog
#catalog
  display: flex
  flex-flow: row wrap
  justify-content: center
  align-items: baseline

  .thread
    margin: 5px
    text-align: center
    width: 250px
    
    figure img
      //border: 1px solid $darker
      //border-bottom: 3px solid $darker
      box-shadow: $shadow

    .info
      padding: 4px 0 0
      font-size: 0.75rem
      color: $darker

    .desc
      padding: 0 5px
      font-size: 0.9rem

      .subject
        font-weight: bold

// Thread
#thread
  font-size: 0.9rem

  #thread-bar
    margin: 10px 5px

    #return
      padding: 5px 10px 5px 0

    #subject
      padding: 5px 20px

    #return, #subject
      font-size: 1.25rem
      font-weight: bold
      background: $dark
      box-shadow: $shadow

  figure
    float: left
    position: relative
    width: auto
    height: auto
    margin-right: 5px

    figcaption
      display: none

  hr
    border-bottom: 1px solid $darker

  .post
    .info
      .name
        font-weight: bold
        color: $name
    pre
      display: inline-block
      padding: 5px
      margin: 2px
      font-family: $monospace
      background-color: $light
      tab-size: 4
      -moz-tab-size: 4

  .op
    margin: 5px

  .reply
    display: table
    padding: 5px
    margin: 5px 0
    background-color: $dark
    box-shadow: $shadow

    figure
      max-width: 150px

    .info
      display: inline-block
      vertical-align: top
      white-space: nowrap

    hr
      clear: none
      margin: 0
      visibility: visible

// Front page
#front
  header
    font-size: 2.5rem

    h1
      font-size: 5rem

  #boards
    margin: 90px
    list-style: none
    text-align: center

    li
      margin: 50px
      font-size: 1.5rem

  #powered
    position: absolute
    bottom: 10px
    left: 10px

// Error page
#error
  text-align: center
  font-size: 2rem
  margin: 100px
