$text: #333
$darkest: #7E9CD9
$darker: #B7C5D9
$dark: #D6DAF0
$light: #EEF2FF
$lightest: #FFF

$quote: #789922
$backquote: #D00
$link: #34345C
$name: #117743

$sans-serif: -apple-system, "Segoe UI", "Roboto", "Helvetica Neue", "Open Sans", sans-serif
$monospace: "Lucida Console", Monaco, monospace

$shadow: 3px 3px $darker
$border: 1px solid $darker

// Restoring sanity
html
  -ms-text-size-adjust: 100%
  -webkit-text-size-adjust: 100%
input[type="submit"]
  -webkit-appearance: none

  &::-moz-focus-inner
    border: 0
    padding: 0

*
  margin: 0
  padding: 0
  border: none

body
  font-family: $sans-serif
  margin: 5px
  color: $text

a
  text-decoration: none

hr
  clear: both
  visibility: hidden

// Actual changes
body
  background-color: $light

a
  color: $link

  &:hover
    color: $backquote

p
  line-height: 1.4em

.quote
  color: $quote

.spoiler
  color: $text
  background-color: $text

  &:hover
    color: $lightest

pre
  display: inline-block
  padding: 5px
  margin: 2px
  font-family: $monospace
  font-size: 0.8rem
  line-height: 1.2rem
  background-color: $light
  tab-size: 4
  -moz-tab-size: 4

// Header
header
  text-align: center

  nav
    margin-bottom: 5px
    font-size: 0.8rem

  #banner
    border: $border
    box-shadow: $shadow

  #title
    margin: 15px
    font-size: 3rem

// Form
#form
  $form-width: 350px

  width: $form-width
  margin: 10px auto
  position: relative

  cursor: move
  user-select: none
  -webkit-user-select: none

  background-color: $dark
  box-shadow: $shadow

  *
    font-size: 0.8rem

  &, #subject, #name, #button, #body
    padding: 5px

  #subject
    width: $form-width

  $button-width: 40px

  #name
    width: $form-width - $button-width - 5

  #subject, #name
    &:hover, &:focus
      transition: 1s
      color: $text
      background-color: $lightest

  #button
    width: $button-width
    position: absolute
    right: 5px

  #subject, #name, #button
    margin-bottom: 5px
    transition: 1s

    color: $darker
    background-color: $light

  #body
    font-family: $sans-serif
    width: $form-width
    min-height: 100px
    background-color: $lightest
    margin-bottom: 5px

  #subject, #name, #body
    &::-webkit-input-placeholder
      color: $darker
    &::-moz-placeholder
      color: $darker
      opacity: 1
    &:-ms-input-placeholder
      color: $darker
    &:placeholder-shown
      color: $darker

  #file:hover, #button:hover, #sage:hover, #spoiler:hover
    transition: 0.5s
    background-color: $text

  #file, #sage, #spoiler
    transition: 0.5s
    display: inline-block
    padding: 5px
    background-color: $light
    color: $darker

  #sage, #spoiler
    float: right
    margin-left: 5px

  #sagei:checked + #sage, #spoileri:checked + #spoiler
    font-weight: bold
    color: $text
    background-color: $darker

  #filei, #sagei, #spoileri
    display: none

// Catalog
#catalog
  display: flex
  flex-flow: row wrap
  justify-content: center
  align-items: baseline

  .thread
    margin: 5px
    text-align: center
    width: 250px
    
    figure img
      border: $border
      box-shadow: $shadow

    .info
      padding: 4px 0 0
      font-size: 0.75rem
      color: $darker

    .desc
      padding: 0 5px
      font-size: 0.9rem

      .subject
        font-weight: bold

    pre
      background-color: $dark
      text-align: left

// Thread
#thread
  font-size: 0.9rem

  #thread-bar
    margin: 10px 5px

    #return
      padding: 5px 10px

    #subject
      padding: 5px 20px

    #return, #subject
      font-size: 1.25rem
      font-weight: bold
      background: $dark
      box-shadow: $shadow

  figure
    float: left
    position: relative
    width: auto
    height: auto
    margin-right: 5px

    figcaption
      display: none

  .post
    .info
      .name
        font-weight: bold
        color: $name

    hr
      border-bottom: $border

  .op
    margin: 5px

    pre
      background-color: $dark

  .reply
    display: table
    padding: 5px
    margin: 5px 0
    background-color: $dark
    box-shadow: $shadow

    figure
      max-width: 150px

    .info
      display: inline-block
      vertical-align: top
      white-space: nowrap

    hr
      clear: none
      margin: 0
      visibility: visible

// Front page
#front
  color: rgba(255,255,221,0.5)
  background: url("/tile.png") repeat 

  #container
    position: fixed
    top: 0
    bottom: 0
    left: 0
    right: 0
    background-image: -webkit-radial-gradient(50% 50%, circle closest-corner, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6) 100%)

  a
    color: rgba(255,255,221,0.5)

    &:hover
      color: $link

  header
    font-size: 2.5rem

    #greeting
      margin: 30px

    #rotate
      perspective: 10000

      @keyframes rotate
        from
          transform: rotateY(0deg)
        to
          transform: rotateY(360deg)

      svg
        width: auto
        height: 50vh
        transform-style: preserve-3d
        //transition: all 1s linear
        -webkit-animation: rotate 5s 0 linear infinite
        -moz-animation: rotate 5s 0 linear infinite
        -o-animation: rotate 5s 0 linear infinite
        animation: rotate 5s 0 linear infinite

    h1
      font-size: 5rem

  #boards
    list-style: none
    text-align: center
    display: flex
    flex-wrap: wrap
    justify-content: center

    li
      margin: 15px
      font-size: 1.5rem
      padding: 10px
      color: rgba(255,255,221,0.5)
      //background-color: $dark
      //box-shadow: $shadow

  #powered
    position: fixed
    bottom: 10px
    left: 10px
    padding: 5px
    color: rgba(255,255,221,0.5)
    //background-color: $dark
    //box-shadow: $shadow

// Error page
#error
  text-align: center
  font-size: 2rem
  margin: 100px

// About page
#about
  width: 600px
  margin: auto
  padding: 30px
  background-color: $dark
  box-shadow: $shadow

  h1
    padding-bottom: 5px
    border-bottom: $border

  p
    margin: 0.5rem 0 1.5rem
    line-height: 1.5rem
