/* Fix some browser inconsistencies, thanks normalize.css-kun */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input[type="submit"] {
  -webkit-appearance: none;
}

* {
  margin: 0;
  padding: 0;
  border: none;
}

body {
  margin: 5px;
  color: #333;
}

nav>ul {
  margin-top: 20px;
  text-align: center;
  list-style: none;
}

nav>ul>li {
  border: 5px solid #CCC;
  padding: 15px 20px;
  margin: 2.5px;
  background-color: #CCC;
  display: inline-block;
  color: #333;
  transition: 1s;
}

nav>ul>li>a {
  color: inherit;
}

nav>ul>li:hover {
  background-color: #333;
  color: #CCC;
  transition: 1s;
  transform: rotate(360deg);
}

#navbar {
  text-align: center;
  margin-bottom: 5px;
  font-size: 0.8rem;
}

header {
  text-align: center;
  font-size: 1.2rem;
}

a {
  text-decoration: none;
}

hr {
  clear: both;
  visibility: hidden;
}

#banner {
  border: 1px solid #CCC;
}

/* Posts */
.post {
  font-size: 0.8rem;
}

.op {
  clear: both;
  padding-top: 15px;
}

.post hr {
  clear: none;
  margin: 0;
  background-color: #AAA;
  visibility: visible;
  height: 1px;
  margin-bottom: 1px;
}

.omitted {
  font-size: 0.75rem;
  color: #888;
}

.post:target {
  background-color: #EEE;
}

.post .quote {
  color: #789922;
}

.post .code {
  display: inline-block;
  background-color: #EEE;
  margin: 2px;
  padding: 3px;
  font-family: monospace;
  white-space: pre-wrap;
  tab-size: 4;
  -moz-tab-size: 4;
  font-size: 0.8rem;
}

.reply {
  display: table;
  background-color: #CCC;
  margin: 5px 0;
  padding: 5px;
}

.post>.info {
  display: inline-block;
  margin: 0;
  vertical-align: top;
  white-space: nowrap;
  margin-top: -1px;
}

.post>.info>a,
.post>.info>span {
  color: #333;
}

.post>.info>a:hover,
.post>.info>span:hover {
  color: red;
  cursor: pointer;
}

.op>.body {
  margin-bottom: 10px;
}

.post>.body p {
  margin: 0;
}

/* Post form */

#form {
  width: 300px;
  margin: 15px auto;
  background-color: #CCC;
  padding: 5px;
}

#form * {
  font-size: 0.8rem;
}

#form>#name,
#form>#button {
  color: #AAA;
  background-color: #CCC;
  transition: 1s;
}

#form>#name:focus {
  transition: 1s;
  background-color: #FFF;
  color: #333;
}

#form>#button:hover {
  transition: 1s;
  background-color: #333;
  color: #CCC;
}

#form>#name {
  width: 250px;
  padding: 2px;
  margin-bottom: 2.5px;
}

#form>#button {
  padding: 1px;
  margin-left: 5px;
  width: 40px;
}

#form>#body {
  font-family: sans-serif;
  max-width: 295px;
  min-width: 295px;
  padding: 2px;
  margin: 2.5px 0;
  min-height: 90px;
}

#form>#file {
  margin-top: 2.5px;
  height: 25px;
  overflow: hidden;
  width: 230px;
  margin-right: 5px;
}


/* image stuff */
.post img {
  width: auto;
  height: auto;
}

.op img {
  max-width: 250px;
  max-height: 250px;
}

.reply img {
  max-width: 150px;
  max-height: 150px;
}

.post>figure {
  float: left;
  position: relative;
  margin: 0 5px -3px 0;
}

.post>figure>.caption {
  opacity: 0;
  background-color: #333;
  color: #CCC;
  font-size: 0.75rem;
  position: absolute;
  left: 0;
  padding: 3px;
  text-align: center;
  z-index: 1;
  transition: 0.5s;
  bottom: 3px;
  display: block;
  transition: 0.5s;
}

.post>figure:hover>.caption {
  opacity: 0.9;
  transition: 0.5s;
}