body {
  font-family: sans-serif;
  margin: 5px;
  color: #333;
}

header {
  text-align: center;
  font-size: 1.2em;
}

a {
  text-decoration: none;
}

hr {
  clear: both;
  visibility: hidden;
}

#banner {
  border: 1px solid #CCC;
}

.post {
  display: table;
  background-color: #CCC;
  margin: 5px 0;
  padding: 5px;
}

.post:target {
  background-color: #EEE;
}

.quote {
  color: #789922;
}

.code {
  display: inline-block;
  background-color: #EEE;
  margin: 2px;
  padding: 3px;
  font-family: monospace;
  white-space: pre-wrap;
  tab-size: 4;
  -moz-tab-size: 4;
}

.postInfo{
  font-size: 0.8em;
  padding-bottom: 2px;
  border-bottom: 1px solid #AAA;
}

.op .postInfo {
  clear: both;
}

.post .postInfo {
  white-space: nowrap;
  float: left;
}

.postBody {
  font-size: 0.9em;
  padding-top: 3px;
}

.postBody p {
  margin: 0;
}

/* Post form */
#postForm {
  table-layout: fixed;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
  background-color: #CCC;
  border-collapse: collapse;
}

#formName {
  width: 249px;
  text-align: left;
}

#formName input, #formSage {
  width: 242px;
  transition: 1s;
  background-color: #CCC;
  padding-left: 3px;
  color: #888;
  margin: 2px 2px 1px;
}

#formName input:focus {
  transition: 1s;
  background-color: #FFF;
  color: #333;
}

#formButton {
  text-align: left;
}

#formButton input {
  background-color: #FFF;
  transition: 0.5s;
  margin: 2px 0 1px;
}

#formButton input:active {
  background-color: #333;
  color: #CCC;
  transition: 0.5s;
}

#formText textarea {
  max-width: 292px;
  min-width: 292px;
  min-height: 90px;
  font-family: sans-serif;
  font-size: 14px;
  margin: 0 2px;
}

#formFile {
  z-index: -1;
}

#formSage {
  width: 55px;
  float: right;
  font-size: 0.9em !important;
  text-align: right;
}

#formSage label {
  vertical-align: top;
}

#postForm input, textarea {
  border: 0px;
}

/* temporary image stuff */
.op img {
  width: auto;
  height: auto;
  max-width: 250px;
  max-height: 250px;
  float: left;
  margin-right: 5px;
}
.post img {
  width: auto;
  height: auto;
  max-width: 150px;
  max-height: 150px;
  float: left;
  margin-right: 5px;
}