* {
  margin: 0;
  padding: 0;
  border: none;
}

body {
  font-family: sans-serif;
  margin: 5px;
  color: #333;
  font-size: 0.9rem;
}

header {
  text-align: center;
  font-size: 1.2em;
}

a {
  text-decoration: none;
}

hr {
  clear: both;
  visibility: hidden;
}

#banner {
  border: 1px solid #CCC;
}

.post, .op {
  font-size: 0.8rem;
}

.omitted {
  font-size: 0.75rem;
  color: #888;
  margin-top: 5px;
}

.post {
  display: table;
  background-color: #CCC;
  margin: 5px 0;
  padding: 5px;
}

.post:target {
  background-color: #EEE;
}

.quote {
  color: #789922;
}

.code {
  display: inline-block;
  background-color: #EEE;
  margin: 2px;
  padding: 3px;
  font-family: monospace;
  white-space: pre-wrap;
  tab-size: 4;
  -moz-tab-size: 4;
}

.post hr {
  clear: none;
  margin: 0;
  background-color: #AAA;
  visibility: visible;
  height: 1px;
  margin-bottom: 1px;
}

.postInfo {
}

.op .postInfo {
  clear: both;
  margin-top: 15px;
  margin-bottom: 3px;
  border-bottom: 1px solid #AAA;
}

.post .postInfo {
  display: inline-block;
  margin: 0;
  vertical-align: top;
  white-space: nowrap;
  margin-top: -1px;
}

.postBody {
}

.postBody p {
  margin: 0;
}

/* Post form */

#post_form {
  width: 300px;
  margin: 15px auto;
  background-color: #CCC;
  padding: 5px;
}

#post_name,
#post_button {
  color: #AAA;
  background-color: #CCC;
  transition: 1s;
}

#post_name:focus {
  transition: 1s;
  background-color: #FFF;
  color: #333;
}

#post_button:hover {
  transition: 1s;
  background-color: #333;
  color: #CCC;
}

#post_name {
  width: 250px;
  padding: 2px;
  margin-bottom: 2.5px;
}

#post_button {
  padding: 1px;
  margin-left: 5px;
  width: 40px;
}

#post_body {
  font-family: sans-serif;
  font-size: 0.9rem;
  max-width: 295px;
  min-width: 295px;
  padding: 2px;
  margin: 2.5px 0;
  min-height: 90px;
}

#form_file {
  margin-top: 2.5px;
  height: 17px;
}

/* #postForm {
  table-layout: fixed;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
  background-color: #CCC;
  border-collapse: collapse;
  padding: 5px;
}

#formName {
  width: 249px;
  text-align: left;
}

#formName input, #formSage {
  width: 242px;
  transition: 1s;
  background-color: #CCC;
  color: #888;
  background-color: #444;
}

#formName input:focus {
  transition: 1s;
  background-color: #FFF;
  color: #333;
}

#formButton {
  text-align: left;
}

#formButton input {
  background-color: #FFF;
  transition: 0.5s;
}

#formButton input:active {
  background-color: #333;
  color: #CCC;
  transition: 0.5s;
}

#formText textarea {
  max-width: 292px;
  min-width: 292px;
  min-height: 90px;
  font-family: sans-serif;
  font-size: 0.9rem;
}

#formFile {
  z-index: -1;
}

#formSage {
  width: 55px;
  float: right;
  font-size: 0.9em !important;
  text-align: right;
}

#formSage label {
  vertical-align: top;
}

#postForm input, textarea {
  border: 0px;
}

/* temporary image stuff */
.op img {
  width: auto;
  height: auto;
  max-width: 250px;
  max-height: 250px;
  float: left;
  margin-right: 5px;
}
.post img {
  width: auto;
  height: auto;
  max-width: 150px;
  max-height: 150px;
  float: left;
  margin-right: 5px;
}