%html
  %head
    %title= title
    %meta{ charset: 'utf-8' }
    %link{ type: 'image/x-icon', rel: 'icon', href: '/assets/favicon.ico' }
    %link{ type: 'text/css', rel: 'stylesheet', href: '/alt.css' }
  %body
    %header
      %nav
        [
        %a{ href: '/'} Home
        - boards.each do |board|
          \/
          %a{ href: "/#{board[:id]}/",
              title: "#{board[:name]}" }= board[:id]
        ] [
        %a{ href: '/readme' } readme
        \/
        %a{ href: 'https://github.com/steinuil/negoto' } source
        ]
    %hr
    = yield
