%article
  #title Readme
  .section
    %h2 Rules
    .rule Don't be a dick.

  .section
    %h2 Syntax
    .rule
      %span.backquote &gt;&gt;420
      %br
      to quote post 420.
    .rule
      %span.quote &gt;line
      %br
      to quote line.
    .rule
      ```
      %br
      code
      %br
      ```
      %br
      to enclose code in a code block.
    .rule
      \\\text\\
      %br
      to
      %span.spoiler spoiler
      text.
